<form [formGroup]="formLocal" autocomplete="false" (ngSubmit)="guardarLocal()" >
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12 md:col-6">
        <label for="hora_inicio" class="font-medium text-900">Apertura</label>
        <p-calendar id="hora_inicio" [showTime]="true" hourFormat="24" [timeOnly]="true" formControlName="hora_inicio" [class]=" isValidField('hora_inicio') ? 'ng-invalid ng-dirty' : '' "></p-calendar>
        <small *ngIf="isValidField('hora_inicio')"  class="p-error block">No puede estar vacío</small>
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="hora_fin" class="font-medium text-900">Cierre</label>
        <p-calendar id="hora_fin" [showTime]="true" hourFormat="24" [timeOnly]="true" formControlName="hora_fin" [class]=" isValidField('hora_fin') ? 'ng-invalid ng-dirty' : '' "></p-calendar>
        <small *ngIf="isValidField('hora_fin')" class="p-error block">No puede estar vacío</small>
      </div>
      <div class="field mb-4 col-12">
        <label for="nombre" class="font-medium text-900">Nombre</label>
        <input id="nombre" type="text"  formControlName="nombre" [class]=" isValidField('nombre') ? 'ng-invalid ng-dirty' : '' " pInputText>
        <small *ngIf="isValidField('nombre')" class="p-error block">No puede estar vacío</small>
      </div>
      <div class="field mb-4 col-12">
        <label for="direccion" class="font-medium text-900">Dirección</label>
        <input id="direccion" formControlName="direccion" type="text" [class]=" isValidField('direccion') ? 'ng-invalid ng-dirty' : '' " pInputText>
        <small *ngIf="isValidField('direccion')" class="p-error block">No puede estar vacío</small>
      </div>
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
      <div class="field mb-4 col-12 md:col-4">
        <label class="font-medium text-900">Departamento</label>
        <p-dropdown [options]="listaDepartamentos" formControlName="departamento" [class]=" isValidField('departamento') ? 'ng-invalid ng-dirty' : '' "  placeholder="Seleccione departamento" optionLabel="name" [showClear]="true"></p-dropdown>
        <small *ngIf="isValidField('departamento')" class="p-error block">No puede estar vacío</small>
      </div>
  
      <div class="field mb-4 col-12 md:col-4">
        <label class="font-medium text-900">Provincia</label>
        <p-dropdown [options]="listaProvincias" formControlName="provincia" [class]=" isValidField('provincia') ? 'ng-invalid ng-dirty' : '' " placeholder="Seleccione provincia" optionLabel="name" [showClear]="true"></p-dropdown>
        <small *ngIf="isValidField('provincia')" class="p-error block">No puede estar vacío</small>
      </div>
  
      <div class="field mb-4 col-12 md:col-4">
        <label class="font-medium text-900">Distrito</label>
        <p-dropdown [options]="listaDistritos"  formControlName="distrito" [class]=" isValidField('distrito') ? 'ng-invalid ng-dirty' : '' " placeholder="Seleccione distrito" optionLabel="name" [showClear]="true"></p-dropdown>
        <small *ngIf="isValidField('distrito')" class="p-error block">No puede estar vacío</small>
      </div>
  
      <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
  
      <div *ngIf="hayErrores" class="col-12">
        <div class="flex align-items-start p-4 bg-pink-100 border-round border-1 border-pink-300">
          <i class="pi pi-times-circle text-pink-900 text-2xl mr-3"></i>
          <div class="mr-3 flex lg:align-items-start flex-column lg:flex-row">
            <div class="text-pink-900 font-medium mr-0 lg:mr-2 mb-2 lg:mb-0 line-height-3">ERROR: </div>
            <p class="m-0 p-0 text-pink-700 line-height-3"> {{ mensajeError }} </p>
          </div>
          <div class="ml-auto">
            <a pRipple (click)="cerrarAlertError()" class="inline-flex align-items-center justify-content-center ml-auto border-circle hover:bg-pink-50 no-underline cursor-pointer transition-colors transition-duration-150" style="width:1.5rem;height:1.5rem">
              <i class="pi pi-times text-pink-900"></i>
            </a>
          </div>
        </div>
      </div>
  
      <div class="col-12">
        <button pButton pRipple [label]="deseaActualizar ? 'Actualizar Local' : 'Registrar Local'" class="w-auto mt-3"></button>
      </div>
    </div>
  </form>
  