<p-toast></p-toast>
<div class="p-5">
  <div class="col-12">
    <div class="surface-card shadow-2 border-round p-4">
      <div class="card">
        <p-message></p-message>

        <p-table [value]="listaCotizaciones" [rows]="10" [paginator]="true"  responsiveLayout="scroll"
                 [(selection)]="selectCotizacion" [rowHover]="true" dataKey="id"
                 currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros" [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Listado de Cotizaciones</h5>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="idCotizacion">ID <p-sortIcon field="idCotizacion"></p-sortIcon></th>
              <th pSortableColumn="costo">Costo <p-sortIcon field="costo"></p-sortIcon></th>
              <th pSortableColumn="fechaCreacion">Fecha <p-sortIcon field="fechaCreacion"></p-sortIcon></th>
              <th pSortableColumn="ubigeo.departamento">Departamento<p-sortIcon field="ubigeo.departamento"></p-sortIcon></th>
              <th pSortableColumn="paquete.pesototal">Peso <p-sortIcon field="paquete.pesototal"></p-sortIcon></th>
              <th pSortableColumn="paquete.cantidad">Cantidad <p-sortIcon field="paquete.cantidad"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cotizaciones>
            <tr>
              <td>
                <p-tableCheckbox [value]="cotizaciones"></p-tableCheckbox>
              </td>
              <td>{{cotizaciones?.idCotizacion}}</td>
              <td>{{cotizaciones?.costo}}</td>
              <td>{{cotizaciones?.fechaCreacion | date:'dd/MM/yyyy'}}</td>
              <td>{{cotizaciones?.ubigeo.departamento}}</td>
              <td>{{cotizaciones?.paquete.pesototal}}</td>
              <td>{{cotizaciones?.paquete.cantidad}}</td>
              <td><button pButton pRipple type="button" label="Generar Envio" class="p-button-raised p-button-success p-button-sm"></button></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" style="font-size: .8rem">
              Hay un total de {{listaCotizaciones ? listaCotizaciones.length : 0 }} registros.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

