<p-toast></p-toast>
<div class="p-5">
  <div class="col-12">
    <div class="surface-card shadow-2 border-round p-4">
      <div class="card">
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <button (click)="mostrarModalCategoriaPaqueteRegistrar()" pButton pRipple label="Registrar" icon="pi pi-plus" class="p-button-success mr-2"></button>
          </ng-template>
        </p-toolbar>
 
        <p-message></p-message>

        <p-table [value]="listaCategoriaPaquetes" [rows]="10" [paginator]="true"  responsiveLayout="scroll"
                 [(selection)]="selectCategoriaPaquetes" [rowHover]="true" dataKey="id"
                 currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros" [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Mantenimiento de Categoria Paquetes</h5>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="idCategoria">ID <p-sortIcon field="idCategoria"></p-sortIcon></th>
              <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
              <th pSortableColumn="descripcion">Descripción <p-sortIcon field="descripcion"></p-sortIcon></th>
              <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-categoriapaquetes>
            <tr>
              <td>
                <p-tableCheckbox [value]="categoriapaquetes"></p-tableCheckbox>
              </td>
              <td>{{categoriapaquetes?.idCategoria}}</td>
              <td>{{categoriapaquetes?.nombre}}</td>
              <td>{{categoriapaquetes?.descripcion}}</td>
              <td>
                <p-tag *ngIf="categoriapaquetes.estado == 1" styleClass="mr-2" severity="success" value="Activo"></p-tag>
                <p-tag *ngIf="categoriapaquetes.estado == 0" severity="danger" value="Inactivo"></p-tag>
              </td>
              <td>
                <button pButton pRipple (click)="mostrarModalCategoriaPaqueteActualizar(categoriapaquetes)" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" style="font-size: .8rem">
              Hay un total de {{listaCategoriaPaquetes ? listaCategoriaPaquetes.length : 0 }} registros.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

